body {
    background-color: #BADFFA;
    color: #BADFFA;

}

.btn btn-success{
    background-color: #6eb7ff;
}
.media{

     background: rgba(200, 200, 200,1);
    color: #2C3E50;
    margin: 5%;
     border-radius: 25px;
}
.media-transparent{
     background: rgba(200, 200, 200, 0.6);
    color: #2C3E50;

     border-radius: 25px;
}
.media-body{

    background: rgba(200, 200, 200, -1);
    color: #375B7F;
    font-size: 25px;
    border-radius: 25px;
}
.blog-content{
    background: #2C3E50;
    color: #375B7F;
    font-size: 25px;
    border-radius: 25px;
    margin:5%;
}
#blog-content{
    background: #000000;
    color: #375B7F;
    font-size: 25px;
    border-radius: 25px;
}
.media-body p{
    margin: 5%;
  font-weight: bold;
  color: #000000;
  opacity:1;
}
.front-text {
    font-weight: bold;
   color: #375B7F;
   opacity: 1;
}
.navbar {
    background: #375b7f;
    font-weight: bold;
    color: #375B7F;
}
.card-group.card {

        margin: 0 auto; /* Added */
        float: right; /* Added */
        margin-bottom: 10px; /* Added */
        margin-top: 10px; /* Added */
        width: 10rem;
        justify-content: center;
}

.card.card-img-top{

width: 10rem;
}

.parallax {
    /* The image used */

 background: rgba(200, 200, 200);
    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover {

  position: absolute;

  top: 0;

  left: 0;

  z-index: 100;



  width: 100%;

  height: 100%;



  .hi {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%,-50%);



    color: #fff;



    font-family: 'Roboto Slab', serif;

    font-size: 24px;

    line-height: 26px;

    text-align: center;



    span {

      color: #ff0;

      cursor: pointer;

      text-decoration: underline;

    }
    em {

      font-style: normal;
      &.hidden {
        display: none;
      }
    }
  }
}
.tv {

  position: absolute;

  top: 0;

  left: 0;

  z-index: -1;



  width: 100%;

  height: 100%;



  overflow: hidden;



  .screen {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: 1;



    margin: auto;



    opacity: 0;

    transition: opacity .5s;



    &.active {

      opacity: 1;

    }

  }

}
